<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/styles.css">
    <title>ACTIVIDADES</title>
</head>
<body>
    <header>
        <a href="./index.html">INICIO</a>
        <a href="./actividades.html">ACTIVIDADES</a>
        <a href="./perfil.html">PERFIL</a>

        <hr>

        <div id="acciones"><a href="./registrarse.html">REGISTRARSE</a>
            <a href="./iniciar-sesion.html">INICIAR SESIÓN</a></div>
        
    </header>

    <h1>ACTIVIDADES</h1>
    <main id="actividades">
        <div>
            <h2>Actividad 1</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel ex vel mi ultricies tempus. Donec ac massa quis justo laoreet ultricies. Sed ut justo at justo ullamcorper ullamcorper. Nulla facilisi. Nulla facilisi.</p>
        </div>
        <div>
            <h2>Actividad 2</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel ex vel mi ultricies tempus. Donec ac massa quis justo laoreet ultricies. Sed ut justo at justo ullamcorper ullamcorper. Nulla facilisi. Nulla facilisi.</p>
        </div>
    </main>
    <footer>
        <p>Todos los derechos reservados &copy; 2024</p>
        <p>Javier Álvarez Centeno &copysr;</p>
    </footer>
</body>
</html>