<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INICIO</title>
    <link rel="stylesheet" href="./styles/styles.css">
</head>
<body>
    <header>
        <a href="./index.html">INICIO</a>
        <a href="./actividades.html">ACTIVIDADES</a>
        <a href="./perfil.html">PERFIL</a>

        <hr>

        <div id="acciones"><a href="./registrarse.html">REGISTRARSE</a>
            <a href="./iniciar-sesion.html">INICIAR SESIÓN</a></div>
        
    </header>
</body>
</html>