<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/styles.css">
    <title>INICIO SESIÓN</title>
</head>
<body>
    <form action="./index.html">
        <label for="email">Email </label>
        <input type="text"  placeholder="ejemplo@ejemplo.com" name="email" id="">
        <label for="contraseña">Contraseña </label>
        <input type="text" placeholder="******" name="pass" id="">
        <div id="recordar">
        <input type="checkbox" name="recordar" id="recordar">
        <label for="recordar">RECORDAR NOMBRE DE USUARIO</label>
        </div>
        
        <button type="submit">INICIAR SESIÓN</button>
    </form>
</body>
</html>