<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/styles.css">
    <title>MI PERFIL</title>
</head>
<body>
    <header>
        <a href="./index.html">INICIO</a>
        <a href="./actividades.html">ACTIVIDADES</a>
        <a href="./perfil.html">PERFIL</a>

        <hr>

        <div id="acciones">
            <a href="./registrarse.html">REGISTRARSE</a>
            <a href="./iniciar-sesion.html">INICIAR SESIÓN</a>
        </div>
        
    </header>
    

    <main id="perfil">
        <h1>PERFIL</h1>
        <section id="tarjeta">
            <img src="./styles/EJEMPLO PERFIL.jpg" alt="foto perfil">
            <div id="datos">
                <h2>Nombre: <em>Juan Pérez</em></h2>
                <p>Edad: <em>25 años</em></p>
                <p>Correo electrónico: <em>juan.perez@gmail.com</em></p>
            </div>
           
        </section>
        <section id="botones">
            <button><a href="">EDITAR PERFIL</a></button>
            <button><a href="./iniciar-sesion.html">CERRAR SESION</a></button>
    
        </section>
        
    </main>

    <footer>
        <p>Todos los derechos reservados &copy; 2024</p>
        <p>Javier Álvarez Centeno &copysr;</p>
    </footer>
</body>
</html>