<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/styles.css">
    <title>REGISTRO</title>
</head>
<body>
    <form action="./index.html">
        <label for="email">Email </label>
        <input type="text" placeholder="ejemplo@ejemplo.com" name="" id="">
        <label for="contraseña">Contraseña </label>
        <input type="text" placeholder="******" name="" id="">
        <button type="submit">REGISTRARSE</button>
    </form>
</body>
</html>