body {
    font-family: Verdana;
}
input {
    background-color: rgba(255, 166, 0, 0.36);
}

div:nth-child(6) input {
    border-radius: 10px;
    border: 0px;
    box-shadow: 0px 3px 7px 0px rgba(128, 128, 128, 0.315);
    position: relative;
}
/* #dificultad:checked:before {
    content: url("https://cdn-icons-png.freepik.com/512/1136/1136964.png");
    display:none;
} */

/* NO FUNCIONA PERO ES QUE YA NO SE QUE MAS INTENTAR */
div:nth-child(6) input:checked:after {
    content: url("https://cdn-icons-png.freepik.com/512/1136/1136964.png");
    display: block;   
    position: absolute; 
    left: 17%;
    top: 8%;
    height: 30px;
    width: 40px;
    transform: scale(1);
}

div p a {
    text-decoration: none;
    color: black;
}
p {
    margin-top: 5%;
}
